body{
   font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

}
.module{
  position: absolute;
  top: 0%;
    z-index: -1;
}
 .nav-bar {
            background-color: #333;
            color: #fff;
            padding: 1em;
           
            z-index: 1000;
        }
        .nav-bar ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
          
        }
        .nav-bar li {
            display: inline-block;
            margin-right: 70px;
           
        }
        .nav-bar a {
            color: #fff;
            text-decoration: none;
            gap: 50px;
        }
        .nav-bar a:hover {
            color: #ccc;
        }

.container{
  position: relative;
  width: 600px;
  left: 10px;
  height: 410px;
  z-index: 999;
  margin: 0;
  padding: 0;
  top: 20px;
  color: rgb(255, 255, 255);  
  font-size: x-large;
  background-color: #33333367;
  border-radius: 20px;
}

.next{
  position: absolute;
  bottom : 5%;
  right: 5%;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 15px;
}
.img{
  position: relative;
  margin-top: -400px;
  width: 500px;
  height: 500px;
  z-index: 999;
  right: -65%;
  padding: 0%;

}